.home-body{
    width: 100vw;
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content{
    max-width: 600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


